doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title FEEL THE HIVE
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Viga&display=swap')
    link(rel='stylesheet' href='https://csshake.surge.sh/csshake.min.css')
    link(rel='stylesheet' href='style.css')

  body
    #app.unloaded
      .header(:class='{hide: clicked}')
        h1 Welcome, stranger!
        p There's a person on the other side of the internet who needs you to scratch their back.
      #scratch.shake-constant(
        :class='{"shake-little": power >= 20 && power < 50, "shake": power >= 50 && power < 70, "shake-hard": power >= 70 && power < 90, "shake-crazy": power >= 90}'
        @click='scratch($event)')
        p(:class='{hide: clicked}') Tap to
        |SCRATCH
        p Power Level: {{power}}{{power >= 90 ? '!!!' : power >= 70 ? '!!' : power >= 50 ? '!' : power >= 20 ? '?' : ''}}
      p.shake-constant(:class='{"shake-little": power >= 50, "shake-opacity": power >= 90}') You are scratching this person's back with {{Math.max(0, clients - 1)}} other stranger{{clients == 2 ? '' : 's'}}.

    script(src='https://unpkg.com/vue@3/dist/vue.global.js')
    script(src='main.js')